<div class="centent_wrapper">
    <div class="content_container">
        <div class="content">
            <div class="content_description">
                <div class="description">LET’S EXPAND THE ENSIAS NETWORK</div>
            </div>
            <div class="content_details">
                <div>
                    
                    <div>
                        <svg width="59" height="55" viewBox="0 0 59 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.5 0L58.5118 54.75H0.48815L29.5 0Z" fill="#FF0000"/>
                        </svg>
                    </div>
                    <div>
                        Gathering Ensias graduates from all over the world
                    </div>
                     
                </div>
                <div>
                    <div>
                        <svg width="59" height="55" viewBox="0 0 59 55" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M29.5 0L58.5118 54.75H0.48815L29.5 0Z" fill="#FF0000"/>
                        </svg>
                    </div>
                    <div>
                        Offering opportunities to ENSIAS engineering / master students
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
