.profiles_list_wrapper{
    width: 100%;
    height: 800px;
    display: flex;
}

.profiles_list_content{
    width: 50%;
    margin: 0 auto;

}

.options{
    display: flex;
    width: 100%;
    padding: 20px 0;
    margin-top: 20px;
    color: #7E7E7E;
}

.search{
    position: relative;
    margin-right: 10px;
}
.search input{
    border: none;
    width: 150px;
    padding: 6px 15px;
    height: 35px;
    color: #7E7E7E;
    background: #E1E1E1;
    border: 2px solid #FF0000;
}

.search i {
    position: absolute;
    right: 15px;
    top: 10px;
    cursor: pointer;
}

i{
    color: red;
}

.profiles{
    display: grid;
    grid-template-columns: repeat(5,1fr);
    row-gap: 10px;
    column-gap: 20px;
    height: 540px;
}

.user{
    border: 2px solid red;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 240px;
}

.user .image{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #7E7E7E;
    margin-bottom: 10px;
}

.image img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.user .status{
    display: flex;
    color: #7E7E7E;
    text-align: center;
}

.fullName,.status{
    height: 50px;
}

.user .view{
    margin: 15px 0;
}

.view button{   

    height: 40px;
    width: 100px;
    color: white;
    background-color: #FF0000;
    border: 2px solid red;
    border-radius: 30px;
}

.view button:hover{
    color: red;
    background-color: white;
    border: 2px solid red;
    border-radius: 30px;
    cursor: pointer;
}

.pagination,.page-link{
    color: red;
}

.page-link{
    cursor: pointer;
    

}


#num{
    background-color: red;
    border: 1px solid black;
}

#right,#left{
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    height: 100%;
}

#right{
    background-image: url('../../../assets/chevron.png');
}

#left{
    background-image: url('../../../assets/chevron(1).png');
}