<div class="header_wrapper">
    <div class="header_content">
        <div class="one">
            <div class="logo">
                
            </div>
            <div class="bar"></div>
            <div class="title" routerLink="/">
                Ensias Hub
            </div>
        </div>
        <div class="two" *ngIf="!isLoggedIn">
            <div class="signin">
                <a routerLink="/signin">SIGN IN</a>
            </div>
            <div class="signup">
                <a routerLink="/signup">SIGN UP</a>
            </div>
        </div>
        <div class="three" *ngIf="isLoggedIn">
            <div class="profile">
                <div class="image">

                </div>
                <a routerLink="/profile"> Profile </a>
            </div>
            <div class="logout" (click)="logout()">
                <div class="icon"></div>
                Logout
            </div>
        </div>
    </div>
</div>