<div class="header_wrapper">
    <div class="header_content">
        <div class="one">
            <div class="logo">
                LOGO
            </div>
            <div class="bar"></div>
            <div class="title" routerLink="/">
                EnsiasForce
            </div>
        </div>
        <div class="two">
            <div class="signin">
                <a routerLink="/signin">SIGN IN</a>
            </div>
            <div class="signup">
                <a routerLink="/signup">SIGN UP</a>
            </div>
        </div>
    </div>
</div>