<div class="profile_wrapper">
    
    <app-sidebar style="width: 250px;"></app-sidebar>
    
    <div class="profile_content">
        <div class="user_details_wrapper">
            <div class="part_one">
                <div class="image">
                    <div *ngIf="profileImage; else elseBlock">
                        <img [src]="profileImage" class="img"/>
                    </div>
                    <ng-template #elseBlock>
                        <img src="../../assets/defaultpng.png" class="img" alt="">
                    </ng-template>
                    <div class="buttons">
                        <input type="file" id="file" (change)="onFileChanged($event)">
                        <label for="file"><i class="fas fa-camera"></i></label>
                    </div>
                </div>
                <div class="user_status">
                    <div class="name">Zakaria Zanati</div>
                    <div class="filiere">Génie Logiciel</div>
                    <div class="status">Looking for End-of-studies Internship</div>
                </div>
            </div>
            <div class="part_two">
                <div class="title">General informations</div>
                <div class="info">
                    <span class="value"><i class="far fa-envelope"></i> zakaria@gmail.com</span>
                </div>
                <div class="info">
                    <span class="value"><i class="fas fa-phone-alt"></i> 0616144542</span>
                </div>
                <div class="info">
                    <span class="value"><i class="fas fa-map-marker-alt"></i> Rabat, Morocco</span>
                </div>
                <div class="update">
                    <button><i class="far fa-edit"></i> Update</button>
                </div>
            </div>
        </div>
        <div class="experiences_content">
            <app-experience></app-experience>
        </div>
        <div class="formation_content">
            <app-formation></app-formation>
        </div>
        <div class="skills_content">
            <app-skills></app-skills>
        </div>
    </div>
</div>