<div class="skills_container">
    <div class="header">
        <div class="title">Skills</div>
        <div class="add_exp" *ngIf="current" (click)="showForm()"><i class="fas fa-plus-circle"></i></div>
    </div>
    <div class="skills_form" *ngIf="displayForm">
        <div class="form_container">
            <form #skillForm="ngForm" (ngSubmit)="onSubmit(skillForm)" >
                <div class="input_section">
                    <input 
                        type="text" 
                        name="name" 
                        id="name"
                        placeholder="add skill ..."
                        ngModel
                        required>
                </div>
                <div class="form_footer">
                    <button>Add</button>
                </div>
            </form>
        </div>
        
    </div>
    <div class="skills_details">
        <div class="details" *ngFor="let skill of skills2">
            <div class="skill">{{skill.skillName}}</div>
        </div>
    </div>
</div>

