<div class="jobs_wrapper">
    <app-sidebar style="width: 250px;"></app-sidebar>
    <div class="jobs_container">
        <div class="options1">
            <div class="find">
                <form (ngSubmit)="onFindJobs(f)" #f="ngForm">
                    <div class="search">
                        <input type="text" name="search" ngModel placeholder="Search by title..."><i class="fas fa-search"></i>
                    </div>
                    <div class="search">
                        <input type="text" name="location" ngModel placeholder="Location..."><i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="search_button">
                        <button type="submit">Find</button>
                    </div>
                </form>
            </div>
            
            <div *ngIf="userType == 'GRADUATE' " class="add_job">
                <mat-checkbox
                    [color]="'primary'"
                    [(ngModel)]="checked">
                    Your offers
                </mat-checkbox>
                <button (click)="onDisplayForm()" >Create Job Offer</button>
            </div>
        </div>
        <div class="options2">
            <div class="opt">
                <select name="date" id="date">
                    <option >Publication Date</option>
                    <option value="">Last 24 Hours</option>
                    <option value="">This week</option>
                    <option value="">This month</option>
                </select>
            </div>
            <div class="opt">
                <select name="type" id="type">
                    <option >Job Type</option>
                    <option value="">Last 24 Hours</option>
                    <option value="">This week</option>
                    <option value="">This month</option>
                </select>
            </div>
            <div class="opt">
                <select name="enterprise" id="enterprise">
                    <option >Enterprise</option>
                    <option value="">Last 24 Hours</option>
                    <option value="">This week</option>
                    <option value="">This month</option>
                </select>
            </div>
            
        </div>
        <div class="content_wrapper">
            <div class="jobs_content">
                <div class="jobs_list">
                    <div class="list">
                        
                        <div *ngFor="let job of jobs">
                            <app-job-description [jobOffer]="job"></app-job-description>
                        </div>
                        
                    </div>
                    
                </div>
                <div class="jobs_details">
                    <router-outlet></router-outlet>
                </div>
            </div>
            <ul class="pagination justify-content-center">
                <li class="page-item"><a (click)="previousClick()" class="page-link" id="left"></a></li>
                <li *ngFor='let index of pageIndexes' class="page-item" [ngClass]="active(index)">
                        <a (click)="getPaginationWithIndex(index)" class="page-link" id="num">
                          {{index + 1}}
                        </a>
                </li>
                <li class="page-item"><a (click)="nextClick()" class="page-link" id="right"></a></li>
            </ul>
        </div>
    </div>
    <div>
        <app-job-form [hidden]="hideForm" (hideMe)="hideForm = true" ></app-job-form>
    </div>
</div>

