<div class="posts_wrapper">
    <app-sidebar style="width: 250px;"></app-sidebar>
    <div class="posts_content" >
                <div id="main-wrapper">
                        <main id="main-section">
                                <div id="share-box">
                                    <div id="button-box">
                                        <button id="btn-post" (click)="open()">
                                            <i class="fas fa-edit" aria-hidden="true"></i>
                                            <span id="btn-text">Start a post</span>
                                        </button>
                                        <button id="btn-picture">
                                            <i class="fa fa-camera" aria-hidden="true"></i>
                                        </button>
                                        <button id="btn-video">
                                            <i class="fa fa-video-camera" aria-hidden="true"></i>
                                        </button>
                                        <button id="btn-document">
                                            <i class="fa fa-file" aria-hidden="true"></i>
                                        </button>
                                    </div>
                                    <div id="link-box">
                                        <a href="#">Write an article</a>
                                        <!-- <span>on LinkedIn</span> -->
                                    </div>
                                </div>
        
                                <hr>
                               
        
                                <article *ngFor="let post of posts">
                                    <div id="post-author">
                                        <a href="#">
                                            <div>
                                                <img *ngIf="post.profileImage" src="/assets/user.png" alt="">
                                                <img *ngIf="!post.profileImage" src="/assets/user.png" alt="">
                                                <div>
                                                    <div>
                                                        <strong id="post-author-name" class="letter-spacing">{{post.publisherFullName}}</strong>
                                                        <span>
                                                            <span>&nbsp;·&nbsp;</span>
                                                            1st</span>
                                                    </div>
                                                    <span>Web Developer at Muse
                                                        Software</span>
                                                    <span>{{post.duration}}</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div id="post-data">
                                        <p>
                                            {{post.description}}
                                        </p>
                                        <div *ngIf="post.image" class="container">
                                            <img  [src]="post.image" alt="">
                                        </div>
                                        <img src="/images/example-post-image.png" alt="">
                                    </div>
                                    <div id="post-interactions">
                                        <div id="interactions-amount">
                                            <span id="like-icon" class="fas fa-thumbs-up fa-flip-horizontal" aria-hidden="true"></span>
                                            <!-- <span id="heart-icon" class="fas fa-heart" aria-hidden="true"></span> -->
                                            <span id="amount-info" (click)="showCommentSection(post)" >{{post.likeCount}} <span>&nbsp;·&nbsp;</span> {{post.commentCount}}
                                            Comments</span>
                                        </div>
                                        <div id="interactions-btns">
                                            <button (click)="clickLike(post.id)">
                                                <span *ngIf="!post.liked" class="far fa-thumbs-up fa-flip-horizontal" aria-hidden="true"></span>
                                                <span *ngIf="post.liked" class="fas fa-thumbs-up fa-flip-horizontal liked" aria-hidden="true"></span>
                                                <span>Like</span>
                                            </button>
                                            <button (click)="startCommentOnPost(post)">
                                                <span class="far fa-comment-dots fa-flip-horizontal" aria-hidden="true"></span>
                                                <span>Comment</span>
                                            </button>
                                        </div>
                                        <app-comment [post]="post"  *ngIf="post.iscommentSectionShowed" ></app-comment>
                                    </div>
                                </article>
                            </main>
                </div>   
                <aside id="right-aside" >
                        <div id="rec-section">
                            <div>
                                <header>
                                    <span>Suggestions</span>
                                    <span class="fas fa-info-circle" onmouseover="showRecommendationsInfo(this)" onmouseout="showRecommendationsInfo(this)" aria-hidden="true">
                                        <div id="float-info" style="display: none;">
                                            <span>
                                                Follow things that interest you to
                                                personalize your feed.
                                            </span>
                                            <a href="#">Learn more.</a>
                                        </div>
                                        <span style="display: none;">►</span>
                                        <div id="square" style="display: none;"></div>
                                    </span>
                                </header>
                                <div>
                                    <div>
                                        <img src="/assets/user.png" alt="">
                                        <div>
                                            <strong>Johne Doe</strong> Yesterday I had a conversation with Maurício Rossi, Front-End Developer...
                                        </div>
                                    </div>
                                    <div>
                                        <img src="/assets/user.png" alt="">
                                        <div>
                                            <strong>Nom Prenom</strong> Yesterday I had a conversation with Maurício Rossi, Front-End Developer...
                                        </div>
                                    </div>
                                    <div>
                                        <img src="/assets/user.png" alt="">
                                        <div>
                                            <strong>Nom Prenom: </strong> Yesterday I had a conversation with Maurício Rossi, Front-End Developer...
                                        </div>
                                    </div>
                                </div>
                                <a href="#">View all recommendations</a>
                            </div>
                        </div>
                </aside> 
    </div>
</div>
