<div class="user_details_wrapper">
    <app-sidebar></app-sidebar>
    <div class="user_details_content">
        <div class="headers">
            <div class="title">Personnal informations</div>
            <div *ngIf="!completed" class="header">Please complete your profile</div>
        </div>
        <div class="signup_form">
            <form #detailsForm = "ngForm" (ngSubmit)="onSubmit(detailsForm)">
                <div class="form_fields">
                    <div class="input_section">
                        <div class="label"> <label for="fullName">Full name </label> </div>
                        <input 
                            type="text" 
                            name="fullName" 
                            id="fullName"
                            ngModel = "{{this.userDetailsPayload.fullName}}"
                            required
                            minlength="6">
                    </div>
                    <div class="input_section">
                        <div class="label"> <label for="email">Email </label> </div>
                        <input 
                            type="email" 
                            name="email" 
                            id="email"
                            ngModel = "{{this.userDetailsPayload.email}}"
                            required
                            email>
                    </div>
                    <div class="input_section">
                        <div class="label"> <label for="status">Status </label> </div>
                        <input 
                            type="text" 
                            name="status" 
                            id="status"
                            placeholder="Ex: Looking for a job"
                            ngModel= "{{this.userDetailsPayload.status}}"
                            required
                            minlength="4">
                    </div>
                    <div class="input_section">
                        <div class="label"> <label for="phoneNumber">Phone number </label> </div>
                        <input 
                            type="text" 
                            name="phoneNumber" 
                            id="phoneNumber"
                            ngModel= "{{this.userDetailsPayload.phoneNumber}}">
                    </div>
                    <div class="input_section">
                        <div class="label"> <label for="city">City </label> </div>
                        <input 
                            type="text" 
                            name="city" 
                            id="city"
                            ngModel= "{{this.userDetailsPayload.city}}">
                    </div>
                    <div class="input_section">
                        <div class="label"> <label for="country">Country </label> </div>
                        <input 
                            type="text" 
                            name="country" 
                            id="country"
                            ngModel= "{{this.userDetailsPayload.country}}">
                    </div>
                    <div class="input_section">
                        <div class="label"> <label for="birthDate">Birth date </label> </div>
                        <input 
                            type="date" 
                            name="birthDate" 
                            id="birthDate"
                            ngModel= "{{this.userDetailsPayload.birthDate}}">
                    </div>
                </div>
                
                <div class="footer">
                    <div class="submit">
                        <button type="submit" [disabled]="!detailsForm.valid" >SUBMIT</button>
                    </div>
                </div>
                
            </form>
        </div>
    </div>
</div>
