<div class="posts_wrapper">
    <app-sidebar style="width: 250px;"></app-sidebar>
    <div class="posts_content" >
                <div id="main-wrapper">
                        <main id="main-section">
                                <div id="share-box">
                                    <div id="button-box">
                                        <button id="btn-post">
                                            <span class="fas fa-edit" aria-hidden="true"></span>
                                            <span id="btn-text">Start a post</span>
                                        </button>
                                        <button id="btn-picture">
                                            <span class="fas fa-camera" aria-hidden="true"></span>
                                        </button>
                                        <button id="btn-video">
                                            <span class="fas fa-video" aria-hidden="true"></span>
                                        </button>
                                        <button id="btn-document">
                                            <span class="fas fa-file" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                    <div id="link-box">
                                        <a href="#">Write an article</a>
                                        <!-- <span>on LinkedIn</span> -->
                                    </div>
                                </div>
        
                                <hr>
                               
                                <div class="filters-section">
                                    <!-- <hr> -->
                                    <button class="filter-btn">
                                        Publication date <i class="fa fa-bars"></i>
                                    </button>
                                    <button class="filter-btn">
                                        Filiere <i class="fa fa-bars"></i>
                                    </button>
                                    <button class="filter-btn">
                                        Année d'etudes<i class="fa fa-bars"></i>
                                    </button>
                                </div>
        
                                <article>
                                    <div id="post-author">
                                        <a href="#">
                                            <div>
                                                <img src="/assets/user.png" alt="">
                                                <div>
                                                    <div>
                                                        <strong id="post-author-name" class="letter-spacing">Matthew James</strong>
                                                        <span>
                                                            <span>&nbsp;·&nbsp;</span>
                                                            1st</span>
                                                    </div>
                                                    <span>Web Developer at Muse
                                                        Software</span>
                                                    <span>12h</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div id="post-data">
                                        <p>
                                            Yesterday I had a conversation with
                                            <span>Maurício Rossi</span>, Front-End
                                            Developer, and found out that he cloned LinkedIn
                                            layout using HTML/CSS. I think you should check
                                            this out ;)
                                        </p>
                                        <p id="post-translation">
                                            <button>See translation</button>
                                        </p>
                                        <img src="/images/example-post-image.png" alt="">
                                    </div>
                                    <div id="post-interactions">
                                        <div id="interactions-amount">
                                            <span id="like-icon" class="fas fa-thumbs-up fa-flip-horizontal" aria-hidden="true"></span>
                                            <!-- <span id="heart-icon" class="fas fa-heart" aria-hidden="true"></span> -->
                                            <span id="amount-info">23 <span>&nbsp;·&nbsp;</span> 4
                                                Comments</span>
                                        </div>
                                        <div id="interactions-btns">
                                            <button>
                                                <span class="far fa-thumbs-up fa-flip-horizontal" aria-hidden="true"></span>
                                                <span>Like</span>
                                            </button>
                                            <button>
                                                <span class="far fa-comment-dots fa-flip-horizontal" aria-hidden="true"></span>
                                                <span>Comment</span>
                                            </button>
                                        </div>
                                    </div>
                                </article>
                                <article>
                                    <div id="post-author">
                                        <a href="#">
                                            <div>
                                                <img src="/assets/user.png" alt="">
                                                <div>
                                                    <div>
                                                        <strong id="post-author-name">Alec Fisher</strong>
                                                        <span>
                                                            <span>&nbsp;·&nbsp;</span>
                                                            1st</span>
                                                    </div>
                                                    <span>Web Designer at SL Systems</span>
                                                    <span>15h</span>
                                                </div>
                                            </div>
                                        </a>
                                        <div>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                            <span class="fas fa-circle" aria-hidden="true"></span>
                                        </div>
                                    </div>
                                    <div id="post-data">
                                        <p>
                                            You all could check
                                            <span>Maurício Rossi</span>'s Github, he has
                                            many academic projects using technologies such
                                            as Javascript, React, Redux, Sagas, HTML, CSS
                                            and others. Try clicking
                                            <a href="https://github.com/mrmauricio">here</a>
                                            ;)
                                        </p>
                                        <p id="post-translation">
                                            <button>See translation</button>
                                        </p>
                                        <img src="/images/example-post-image2.png" alt="">
                                    </div>
                                    <div id="post-interactions">
                                        <div id="interactions-amount">
                                            <span id="like-icon" class="fas fa-thumbs-up fa-flip-horizontal" aria-hidden="true"></span>
                                            <span id="amount-info">18 <span>&nbsp;·&nbsp;</span> 6
                                                Comments</span>
                                        </div>
                                        <div id="interactions-btns">
                                            <button>
                                                <span class="far fa-thumbs-up fa-flip-horizontal" aria-hidden="true"></span>
                                                <span>Like</span>
                                            </button>
                                            <button>
                                                <span class="far fa-comment-dots fa-flip-horizontal" aria-hidden="true"></span>
                                                <span>Comment</span>
                                            </button>
                                        </div>
                                    </div>
                                </article>
                            </main>
                </div>   
                <aside id="right-aside" >
                        <div id="rec-section">
                            <div>
                                <header>
                                    <span>Suggestions</span>
                                    <span class="fas fa-info-circle" onmouseover="showRecommendationsInfo(this)" onmouseout="showRecommendationsInfo(this)" aria-hidden="true">
                                        <div id="float-info" style="display: none;">
                                            <span>
                                                Follow things that interest you to
                                                personalize your feed.
                                            </span>
                                            <a href="#">Learn more.</a>
                                        </div>
                                        <span style="display: none;">►</span>
                                        <div id="square" style="display: none;"></div>
                                    </span>
                                </header>
                                <div>
                                    <div>
                                        <img src="/assets/user.png" alt="">
                                        <div>
                                            <strong>Johne Doe</strong> Yesterday I had a conversation with Maurício Rossi, Front-End Developer...
                                        </div>
                                    </div>
                                    <div>
                                        <img src="/assets/user.png" alt="">
                                        <div>
                                            <strong>Nom Prenom</strong> Yesterday I had a conversation with Maurício Rossi, Front-End Developer...
                                        </div>
                                    </div>
                                    <div>
                                        <img src="/assets/user.png" alt="">
                                        <div>
                                            <strong>Nom Prenom: </strong> Yesterday I had a conversation with Maurício Rossi, Front-End Developer...
                                        </div>
                                    </div>
                                </div>
                                <a href="#">View all recommendations</a>
                            </div>
                        </div>
                </aside> 
    </div>
</div>
