<div class="experience_container">
    <div class="header">
        <div class="title">Experiences</div>
        <div class="add_exp" (click)="showForm()"><i class="fas fa-plus-circle"></i></div>
    </div>
    <div class="experience_form" *ngIf="displayForm">
        <div class="form_title">
            <div>Add Experience</div>
            <div style="cursor: pointer;" (click)="showForm()"><i class="fas fa-times"></i></div>
        </div>
        <div class="form_container">
            <form #experienceForm = "ngForm" (ngSubmit)="onSubmit(experienceForm)">
                <div class="input_section">
                    <div class="label"> <label for="post">Poste name </label> </div>
                    <input 
                        type="text" 
                        name="post" 
                        id="post"
                        ngModel
                        required
                        minlength="4">
                </div>
                <div class="input_section">
                    <div class="label"> <label for="enterprise">Enterprise </label> </div>
                    <input 
                        type="text" 
                        name="enterprise" 
                        id="enterprise"
                        ngModel
                        required
                        minlength="4">
                </div>
                <div class="input_section">
                    <div class="label"> <label for="location">Location </label> </div>
                    <input 
                        type="text" 
                        name="location" 
                        id="location"
                        ngModel
                        required
                        minlength="4">
                </div>
                <div class="input_section">
                    <div class="input_title">Debut date</div>
                    <div class="input_content">
                        <div class="label"> <label for="debut_month">Month </label> </div>
                        <input 
                            type="text" 
                            name="debut_month" 
                            id="debut_month"
                            ngModel
                            required
                            minlength="3">
                        <div class="label"> <label for="debut_year">Year </label> </div>
                        <input 
                            type="text" 
                            name="debut_year" 
                            id="debut_year"
                            ngModel
                            required
                            minlength="4">
                    </div>
                    
                </div>
                <div class="input_section">
                    <div class="input_title">End date</div>
                    <div class="input_content">
                        <div class="label"> <label for="end_month">Month </label> </div>
                        <input 
                            type="text" 
                            name="end_month" 
                            id="end_month"
                            ngModel
                            required
                            minlength="3">
                        <div class="label"> <label for="end_year">Year </label> </div>
                        <input 
                            type="text" 
                            name="end_year" 
                            id="end_year"
                            ngModel
                            required
                            minlength="4">
                    </div>
                    
                </div>
                <div class="form_footer">
                    <button type="submit">Add</button>
                </div>
            </form>
        </div>
       
    </div>
    <div *ngFor="let experience of experiences" class="experience_details">
        <div class="image">
            
        </div>
        <div class="details">
            <div class="name"> {{experience.position}} </div>
            <div class="enterprise">{{experience.enterprise}}</div>
            <div class="duration"> {{experience.startDate}} - {{experience.endDate}} </div>
            <div class="location"> {{experience.location}} </div>
        </div>
    </div>
</div>
