.sidebar_wrapper{
    width: 250px;
    height: 100%;
    background-color: #9e9e9e;
    display: flex;
    flex-direction: column;
}

.sidebar_content{
    padding: 15px 40px;
    color: white;
    cursor: pointer;
}

.sidebar_content:hover{
    background-color: red;
}