<div class="job_description_wrapper" style="cursor: pointer;" (click)="viewJobDetails()">
    <div class="job_description_content">
        <div class="image">

        </div>
        <div class="description">
            <div>
                <div class="job_title"> {{jobOffer.name}} </div>
                <div class="enterprise"> {{jobOffer.enterprise}} </div>
                <div class="location"> {{jobOffer.location}} </div>
            </div>
            <div class="one"></div>
            <div class="two">
                <div class="time">2 days ago</div>
            </div>
        </div>
    </div>
</div>