<div class="job_description_wrapper">
    <div class="job_description_content">
        <div class="image">

        </div>
        <div class="description">
            <div>
                <div class="job_title">Stage PFE :Full Stack JAVA/ANGULAR Developer</div>
                <div class="enterprise">ATOS</div>
                <div class="location">Toulouse, France</div>
            </div>
            <div class="one"></div>
            <div class="two">
                <div class="time">2 days ago</div>
            </div>
        </div>
    </div>
</div>