.job_description_wrapper{
    width: 100%;
    padding: 10px;
    border-bottom: 2px solid #b3b3b3;
    cursor: pointer;
}

.job_description_wrapper:hover{
    background: #EBEBEB;
}

.job_description_content{
    display: grid;
    grid-template-columns: 20% 75%;
    column-gap: 5%;
}

.image {
    width: 80px;
    height: 80px;
    background-color: gray;
}

.description{
    display: flex;
    flex-direction: column;
}

.one{
    width: 30%;
    margin: 5px 0;
    border-bottom: 1px solid gray;
}

.job_title{
    color: red;
}